{{ partial "header" . }}
<!--Intro and service-->
<div id="intro" class="section scrollspy">
  <div class="container">
    <div class="row">
      <div  class="col s12">
        <h2 class="center header text_h2"> <span class="span_h2">  {{ .Title }}  </span> </h2>
        <br />
        <!-- <h4 class="center header text_h2">Research and Development Manager @ Earthlink Telecom | Freelance Game Developer</h4> -->

        <p>{{ .Content }}</p>
      </div>

    </div>
    <div class="row">
      <a class="btn waves-effect waves-light blue darken-1" href="../../#{{.Section }}">Go Back
      </a>
    </div>
  </div>
</div>
{{ partial "footer" . }}
