<div class="col s12 m4 l4">
    <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="img/{{ .Title }}.jpg">
        </div>
        <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">{{ .Title }} <i class="mdi-navigation-more-vert right"></i></span>
            <p><a href="{{ .Permalink }}">Read More..</a></p>
        </div>
        <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">{{ .Title }} <i class="mdi-navigation-close right"></i></span>
            <p> {{ .Content }}</p>
        </div>
    </div>
</div>
