<div class="col s12 m3">
  <div class="card card-avatar">
    <div class="waves-effect waves-block waves-light">
      <a class="red-text text-darken-1" href="{{ .Permalink }}">
      <img class="activator" src="img/{{ .Title }}.jpg">
    </a>
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">{{ .Title }} <br/>
        <small><em><a class="red-text text-darken-1" href="{{ .Permalink }}">{{$.Params.jobtitle}}</a></em></small></span>
        <p>
          <!-- <a class="blue-text text-lighten-2" href="{{ .Params.Facebook }}">
            <i class="fa fa-facebook-square"></i>
          </a>
          <a class="blue-text text-lighten-2" href="{{ .Params.Twitter }}">
            <i class="fa fa-twitter-square"></i>
          </a>
          <a class="blue-text text-lighten-2" href="{{ .Params.GooglePlus }}">
            <i class="fa fa-google-plus-square"></i>
          </a>
          <a class="blue-text text-lighten-2" href="{{ .Params.LinkedIn }}">
            <i class="fa fa-linkedin-square"></i>
          </a> -->
        </p>
      </div>
    </div>
  </div>
